.button-editar {
    background-color: #5b6ccc;
    border-radius: 10px;

    width: 100px;
    border: 2px solid black !important;
    position: relative;
    top:5px;
    margin-left: 0.5em;
  
}

.button-editar:hover,.button-editar:active,.button-editar:focus {
    background-color: #434f91 !important;
    border-radius: 10px;
    border:2px solid #2a48f5 !important;
    box-shadow: 3px 3px 3px #0b1a6b !important ;
   

}


.icon-editar {
    margin-bottom: 5px;
}