.titulo-programacao {

    text-align: center;
    margin-top: 0.5em;

}


.container-border-programacao {
    display: flex;
    justify-content: center;

}

.container-border-programacao2 {

    width: 32px;
    border-bottom: 4px solid #57C278;
}

.container-programacao {
    background-color: #00C86F26;
    width: 100%;
    height: 600px;
    top: 1675px;

}



.image-style {
    margin: 20px 0 0 20px;
 
}

.card-title {
    color: #6278F7;

}

.card-text {
    color:#212121;

}

.span-programacao {
    font-weight: bold;
}

.icon-time {
    margin-bottom: 3px;
    color: #57C278;
    
}

.container-img {
    background-image: url('../../public/img/programacaoRectangle.png');
    background-repeat: no-repeat;
    background-size: 380px;
}